/* about.page */

.body{
    margin: 0;
    background-color: #178dff;
    display: flex;
}

.nav{
    /* background-color:#178dff; */
    background-image: linear-gradient(to top, #403bff, #3757ff, #3d6dff, #4e80fb, #6492f4, #5ca2f8, #5db1f9, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    width: 20%;
}

.menu{
    display: flex;
    position: relative;
    top: 7%;
    flex-direction: column;
    align-items: center;
}

.side-bar-label {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}

.active{
    color:white;
 }
 
 .side-bar-label:hover {
     color: white;
 }

.pad-decoration{
  font-size: 28px;
  padding-bottom: 18px;
}


h1{
  margin-top: 1px;
}

.avatar {
  border-radius: 50%;
  height: auto;
  margin: 22px;
  padding: 7px;
}

.photo {
  border-radius: 50%;
  height: 100%;
  width: 100%;
} 

.border{
  background-color: rgb(245, 251, 255);
  border-radius: 50%;
  height: 26%;
  width: 64%;
  margin-left: 46px;
  margin-top: 48px;
  box-shadow: 0px 0px 6px 1px black
}


.data{
  height: 100%;
  width: 100%;
  display: inline-block;
}


.text{
  font-size: 24px;
  margin-top: 20%;
  margin-left: 5%;
  font-family: Helvetica, sans-serif;
}



/* PAGES RESPONSIVE */

.pages {
  width: 80%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.red{
  background-color: lavender;
    width: 100%;
    height: 100%;
    display: block;
}

.orange{
  background-color: white;
  width: 100%;
  height: 100%;
}

.yellow{
  background-image: url("./photo/eduback.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.green{
  background-color: green;
  width: 100%;
  height: 100%;
}



/* bitmoji adjustment */

@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-16px); }
}
 
.bounce {
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}


.bitmoji{
  position: relative;
  left: calc(100vw - 39%);
  width: 5.5rem;
  bottom: 23%;
}

.bitmoji-exp{
  position: relative;
  left: calc(100vw - 46%);
  width: 194px;
  bottom: 18%;
}

.bitmoji-edu{
  position: relative;
  left: calc(100vw - 43%);
  width: 10rem;
  bottom: 33%;
}

.bitmoji-connect{
  position: relative;
  left: calc(100vw - 50%);
  width: 190px;
  top: 14%;
}


/* TIMELINE */


* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin-top: 3%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 4%;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(85 126 255);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 4.25%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 40px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(85 126 255) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
  top: 33px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color:rgb(85 126 255);
  position: relative;
  border-radius: 34px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


/* SKILLS */





/* Connect Me Form */


/* Style input type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style input type="email", select elements and textareas */

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button */
input[type=submit] {
  background-color: #255656;
  color: white;
  padding: 11px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
 .form-container {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 26px;
  background-color: #89ffaa;
  margin-left: 108px;
  margin-bottom: 12px;
  width: 50%;
} 

.logos{
  display: flex;
    flex-direction: column;
    position: relative;
    left: 175px;
    margin-bottom: 258px;
}



.git{
  height: 91px;
}

.ig{
  height: 85px;
  margin-top: 18px;
}

.ld{
  margin-bottom: 11px;
  height: 90px;
}



